Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*
WarningsAsErrors: >
  clang-analyzer-core.NullDereference,
  bugprone-*
HeaderFilterRegex: 'include/.*'
CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
FormatStyle: file